src/Web/bin/
src/Web/obj/
test/Web.Test/bin/
test/Web.Test/obj/
src/Core/bin/
src/Core/obj/
src/Cloud/obj/
src/Cloud/bin/
src/DeathLambda/obj/
src/DeathLambda/bin/
src/Cloud/DynamoDbLocal/DynamoDBLocal_lib/
src/Common/obj/
src/Common/bin/
test/Core.Test/bin/
test/Core.Test/obj/
test/Cloud.Test/obj/
test/Cloud.Test/bin/
test/DeathLambda.Test/obj/
test/DeathLambda.Test/bin/
.vs
packages
.idea/*