name: Build and publish
on:
  workflow_call: 
    inputs:
      environment:
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release --no-restore

      - name: Setup DynamoDB Local
        uses: rrainn/dynamodb-action@v2.0.1
        with:
          sharedDb: true
          port: 8000
          cors: '*'

      - name: Test
        run: dotnet test -c Release --no-build --verbosity normal

      - name: Publish
        run: dotnet publish --no-build src/Web/Web.csproj -c Release

      - name: Zip Lambda
        uses: thedoctor0/zip-release@master
        with:
          type: 'zip'
          directory: src/Web/bin/Release/net10.0/publish/
          filename: 'donatecraft_api${{ inputs.environment }}.zip'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@main
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2

      - name: Upload Donatecraft lambda to S3
        run: aws s3 cp src/Web/bin/Release/net10.0/publish/donatecraft_api${{ inputs.environment }}.zip s3://donatecraft/donatecraft_api${{ inputs.environment }}.zip --content-type application/zip