name: Main build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    uses: ./.github/workflows/build-publish.yml
    with:
      environment: '-dev'
    secrets: inherit
        
  deploy:
    needs: build
    uses: ./.github/workflows/deploy.yml
    with:
      environment: '-dev'
    secrets: inherit