name: Pull request close cleanup

on:
  pull_request:
    types: [closed]

jobs:
  destroy-terraform:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: '-pr${{ github.event.number }}'
      destroy: true
    secrets: inherit
  
  cleanup-s3:
    needs: destroy-terraform
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2

      - name: Cleanup S3
        run: |
          aws s3 rm s3://donatecraft --recursive --exclude "*" --include "*pr-${{ github.event.number }}*"
          aws s3 rm s3://donatecraft-terraform --recursive --exclude "*" --include "pr-${{ github.event.number }}*"