name: Pull request build

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    uses: ./.github/workflows/build-publish.yml
    with:
      environment: '-pr${{ github.event.number }}'
    secrets: inherit
    
  deploy:
    needs: build
    uses: ./.github/workflows/deploy.yml
    with:
      environment: '-pr${{ github.event.number }}'
    secrets: inherit
    
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test
        run: dotnet test ./test/Integration.Test/ -c Release -e TEST_URL= --verbosity normal --logger "trx;LogFileName=test-results.trx"
      - name: Test Report
        uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}
        with:
          name: Integration tests
          path: 'TestResults/*.trx'
          reporter: dotnet-trx
