name: Deploy to production

on:
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build-publish.yml
    with:
      environment: ''
    secrets: inherit
  
  terraform:
    needs: build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "./src/Cloud/Terraform"
    steps:
      - uses: actions/checkout@v3
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform init
        id: init
        run: terraform init -var=just_giving_api_key=${{ secrets.JUST_GIVING_API_KEY }} -var=just_giving_api_url=${{ secrets.JUST_GIVING_API_URL_PROD }} -backend-config="key=donatecraft.tfstate"

      - name: Terraform plan
        id: plan
        run: terraform plan -var=just_giving_api_key=${{ secrets.JUST_GIVING_API_KEY }} -var=just_giving_api_url=${{ secrets.JUST_GIVING_API_URL_PROD }}

      - name: Terraform apply
        id: apply
        run: terraform apply -var=just_giving_api_key=${{ secrets.JUST_GIVING_API_KEY }} -var=just_giving_api_url=${{ secrets.JUST_GIVING_API_URL_PROD }} -auto-approve